# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environment variables (database passwords)
.env

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Data files (optional depending on project)
data/raw/*.csv

# Prefect
.prefect/